<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.pableras.sichef">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".views.nube.DetailRecetaNubeActivity">
        </activity>
        <activity android:name=".views.nube.NubeActivity">
        </activity>
        <activity android:name=".views.recetas.DetailRecetaActivity">
        </activity>
        <activity android:name=".views.recetas.RecetActivity">
        </activity>
        <activity
                android:name=".views.home.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.logg.SingActivity">
        </activity>
        <activity android:name=".views.logg.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>